
.idea/workspace.xml
out/production/CombineThemPDFs/CombinePDF/DuplicateBox.class
out/production/CombineThemPDFs/CombinePDF/MoveBox.class
out/production/CombineThemPDFs/CombinePDF/Read.class
out/production/CombineThemPDFs/CombinePDF/RemoveBox.class
out/production/CombineThemPDFs/CombinePDF/Screen/screen.txt
out/production/CombineThemPDFs/CombinePDF/Write.class
out/production/CombineThemPDFs/META-INF/CombineThemPDFs.kotlin_module
src/CombinePDF/Screen/screen.txt
src/CombinePDF/Screen/**
out/production/CombineThemPDFs/CombinePDF/Convert.class
out/artifacts/CombineThemPDFs_jar/CombineThemPDFs.jar
out/artifacts/.DS_Store
out/.DS_Store
out/production/CombineThemPDFs/CombinePDF/ConfirmBox.class
out/production/CombineThemPDFs/CombinePDF/img/android-chrome-192x192.png
out/production/CombineThemPDFs/CombinePDF/img/android-chrome-512x512.png
out/production/CombineThemPDFs/CombinePDF/img/apple-touch-icon.png
out/production/CombineThemPDFs/CombinePDF/img/favicon-16x16.png
out/production/CombineThemPDFs/CombinePDF/img/favicon-32x32.png
out/production/CombineThemPDFs/CombinePDF/img/favicon.ico
out/production/CombineThemPDFs/CombinePDF/Main.class
out/production/CombineThemPDFs/libs/documents4j/documents4j-client-standalone-1.0.3-shaded.jar
out/production/CombineThemPDFs/libs/documents4j/documents4j-server-standalone-1.0.3-shaded.jar
out/production/CombineThemPDFs/libs/PDFBox/fontbox-2.0.16.jar
out/production/CombineThemPDFs/libs/PDFBox/pdfbox-2.0.16.jar
out/production/CombineThemPDFs/libs/PDFBox/pdfbox-app-2.0.16.jar
out/production/CombineThemPDFs/libs/PDFBox/pdfbox-tools-2.0.16.jar
out/production/CombineThemPDFs/libs/PDFBox/preflight-2.0.16.jar
out/production/CombineThemPDFs/libs/PDFBox/preflight-app-2.0.16.jar
out/production/CombineThemPDFs/libs/PDFBox/xmpbox-2.0.16.jar
out/production/CombineThemPDFs/libs/poi/lib/activation-1.1.1.jar
out/production/CombineThemPDFs/libs/poi/lib/commons-codec-1.12.jar
out/production/CombineThemPDFs/libs/poi/lib/commons-collections4-4.3.jar
out/production/CombineThemPDFs/libs/poi/lib/commons-compress-1.18.jar
out/production/CombineThemPDFs/libs/poi/lib/commons-logging-1.2.jar
out/production/CombineThemPDFs/libs/poi/lib/commons-math3-3.6.1.jar
out/production/CombineThemPDFs/libs/poi/lib/jaxb-api-2.3.0.jar
out/production/CombineThemPDFs/libs/poi/lib/jaxb-core-2.3.0.1.jar
out/production/CombineThemPDFs/libs/poi/lib/jaxb-impl-2.3.0.1.jar
out/production/CombineThemPDFs/libs/poi/lib/junit-4.12.jar
out/production/CombineThemPDFs/libs/poi/lib/log4j-1.2.17.jar
out/production/CombineThemPDFs/libs/poi/ooxml-lib/curvesapi-1.06.jar
out/production/CombineThemPDFs/libs/poi/ooxml-lib/xmlbeans-3.1.0.jar
out/production/CombineThemPDFs/libs/poi/poi-4.1.0.jar
out/production/CombineThemPDFs/libs/poi/poi-examples-4.1.0.jar
out/production/CombineThemPDFs/libs/poi/poi-excelant-4.1.0.jar
out/production/CombineThemPDFs/libs/poi/poi-ooxml-4.1.0.jar
out/production/CombineThemPDFs/libs/poi/poi-ooxml-schemas-4.1.0.jar
out/production/CombineThemPDFs/libs/poi/poi-scratchpad-4.1.0.jar
out/production/CombineThemPDFs/META-INF/MANIFEST.MF
.idea/codeStyles/Project.xml
out/production/CombineThemPDFs/CombinePDF/ChooseBox.class
out/production/CombineThemPDFs/CombinePDF/Bat/reshacker_setup.exe
out/production/CombineThemPDFs/CombinePDF/Bat/Combine.exe
out/production/CombineThemPDFs/CombinePDF/Bat/Combine.bat
out/production/CombineThemPDFs/CombinePDF/Bat/Bat2Exe.bat
.idea/workspace.xml
.idea/workspace.xml
out/production/CombineThemPDFs/libs/iText/commons-codec-1.5.jar
out/production/CombineThemPDFs/libs/iText/dom4j-1.6.1.jar
out/production/CombineThemPDFs/libs/iText/fr.opensagres.xdocreport.itext.extension-1.0.6.jar
out/production/CombineThemPDFs/libs/iText/itext-2.1.7.jar
out/production/CombineThemPDFs/libs/iText/ooxml-schemas-1.1.jar
out/production/CombineThemPDFs/libs/iText/org.apache.poi.xwpf.converter.core-1.0.6.jar
out/production/CombineThemPDFs/libs/iText/org.apache.poi.xwpf.converter.pdf-1.0.6.jar
out/production/CombineThemPDFs/libs/iText/poi-3.10-FINAL.jar
out/production/CombineThemPDFs/libs/iText/poi-ooxml-3.10-FINAL.jar
out/production/CombineThemPDFs/libs/iText/stax-api-1.0.1.jar
out/production/CombineThemPDFs/libs/iText/xml-apis-1.0.b2.jar
out/production/CombineThemPDFs/libs/iText/xmlbeans-2.3.0.jar
